/*
* @Author: David M. Rojas Gonzalez // davidr.info  
* @Date: 2019-03-08 20:32:10  
 * @Last Modified by: David M. Rojas Gonzalez // davidr.info
 * @Last Modified time: 2019-03-08 21:19:19
*/

@import '../../colors';

.skillsSection{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;

    @media (max-width: 600px){
        justify-content: center;
    }
}