/*
 * @Author: David M. Rojas Gonzalez // davidr.info  
* @Date: 2019-03-08 21:50:38  
 * @Last Modified by: David M. Rojas Gonzalez // davidr.info
 * @Last Modified time: 2019-03-08 22:52:49
*/

@import '../../colors';

$skillBar-height: .8rem;

.skillComponent{
    p{
        margin: .7rem auto .5rem auto;
    }
    .skillBar-back{
        background-color: $color-skillBar-back;
        height: $skillBar-height;
    }
    .skillBar-front{
        background-color: $color-skillBar-front;
        height: $skillBar-height;
        width: 1%;
    }
}