/*
 * @Author: David M. Rojas Gonzalez // davidr.info 
 * @Date: 2019-03-04 13:35:43 
 * @Last Modified by: David M. Rojas Gonzalez // davidr.info
 * @Last Modified time: 2019-03-04 21:59:11
*/

//Gradient Colors
$color-grad-red: #C04848;
$color-grad-purple: #480048;

//Theme Colors
$color-primary: #E9A734;
$color-secondary: #FFCF7D;

//Text Colors:
$color-txt-onDark: #FFFFFF;
$color-txt-onLight: #353535;
$color-txt-muted: #CBCBCB;

//Third Party Brand Colors
$color-brand-github: #7e65a5;
$color-brand-linkedin: #00a0dc;
$color-brand-instagram: #c13584;
$color-brand-codepen: #333333;
