/*
 * @Author: David M. Rojas Gonzalez // davidr.info 
 * @Date: 2019-03-04 13:34:59 
 * @Last Modified by: David M. Rojas Gonzalez // davidr.info
 * @Last Modified time: 2019-03-05 01:44:56
*/
@import './colors';

.App{
  a{
    color: $color-secondary;
    text-decoration: none;
    &:hover{
      color: darken($color-secondary, 15);
      text-decoration: underline;
    }
    &:active{
      color: lighten($color-secondary, 15);
      text-decoration: underline;
    }
  }
  .App-content{
    background-color: rgba(0,0,0,0.15);
    box-shadow: -2px 4px 5px rgba(0,0,0,0.35);
    padding: 1.5rem;
  }
  .download-resume{
    text-decoration: none;
    color: $color-txt-onDark;
    text-transform: uppercase;
    margin-right: 2rem;
    margin-left: 2rem;
    padding: .5rem;
    border: 2px solid $color-txt-onDark;
    &:hover{
      color: $color-secondary;
      border-color: $color-secondary;
    }
    &:active{
      color: darken($color-secondary, 35);
      border-color: darken($color-secondary, 35);
    }
  }

  @media (max-width: 400px) {
    .App{
      padding: 1.5rem .5rem;
    }
  }
}