/*
 * @Author: David M. Rojas Gonzalez // davidr.info 
 * @Date: 2019-03-04 13:35:26 
 * @Last Modified by: David M. Rojas Gonzalez // davidr.info
 * @Last Modified time: 2019-03-04 19:59:41
*/
@import './colors';

body {
  margin: 0;
  padding: 2rem;
  color: $color-txt-onDark;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(135deg, $color-grad-red,$color-grad-purple);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

@for $i from 1 through 6{
  h#{$i}{
    font-family: 'Bree Serif', serif;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@media (max-width: 1200px){
  body{
    padding: 1rem;
  }
}
